body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.header-content{
    text-align: center;
    width: 550px;
    margin:auto;
    color: black;
}
.img-background h1{
    padding-top: 1px;
    color: #A45A52;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 150px;
    animation: slideDown ease-out 2s forwards;
    transform: translateX(-50%);
}

@keyframes slideDown {
    0%{
        transform: translateX(-100%);
        background-color: transparent;
    }
    100%{
        transform: translateX(0%);
        background-color: transparent;
    }
}

.img-background p{
    padding-top: 250px;
    font-size: 50px;
    color: #A45A52;
    text-align: center;
    font-family: "Lora", Times, serif;
    animation: slideUp 2s forwards;
    transform: translateY(-100%);


}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
        background-color: transparent;
    }
    100% {
        transform: translateY(0);
    }
}




.img-background{
    background-image: url('index.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.navigation {
    display: flex;
    overflow: hidden;
    background-color:  #009970;
    text-align: center;
}
.navigation nav{
    margin: auto;
    text-align: center;
}
.navigation nav a{
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
    position: relative;
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #A6192E;
    color: #D4AF37;
}

.navigation a.active {
    background-color: #04AA6D;
    color: white;
}



.footer-container{
    text-align: center;
    width: 550px;
    margin:auto;
    background: whitesmoke;
}
.footer-container small{
    margin-left: 75px;
    display: flex;
    text-align: center;
    color: black;
    font-size: 12px;
    margin-top: 285px;
}

/* Styles pour le pop-up de consentement */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #A45A52;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    z-index: 1000;
}

.cookie-consent a {
    color: #A45A52;
    text-decoration: none;
}

.cookie-consent button {
    background-color: #009970;
    color: #A45A52;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.cookie-consent button:hover {
    background-color: #A6192E;
    animation: cookie 0.3s ease-in-out;
}

.cookie-consent{
    animation: cookie 2s ease-out forwards;
    opacity: 0%;
}

.cookie-consent a:hover{
    text-decoration: underline;
    color: #A6192E;
}

@keyframes cookie {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 90%;
    }
}